:root {
    --pending: rgb(218, 27, 84);
    --completed: rgb(0, 161, 80);
    --archived: rgb(68, 61, 65);
    --draft: rgb(0, 161, 153);
    --anchor:  rgb(0, 80, 60);
    --bgcolor: rgb(243, 182, 182);
    --textcolor: #F1F1F1;
    --sec-textcolor: #FFFFFF;
    --main-grid-bgcolor:rgb(0, 0, 0);
    --themecolor:  #FF4B60;
}

html, body {
    padding: 0px;
    margin: 0px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color:#34495e;
    font-size:12px;
    font-style: normal;
    font-weight:500;
    font-variant: normal;
    line-height: 25px;
    background-color:#FFFFFF;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-size: 100%;
    width:100%;
}
  
/* Scrollbars */
::-webkit-scrollbar {
    width:4px;
    background-color: var(--themecolor);
    border-radius: 50px;
}

.book-hot--slide-group::-webkit-scrollbar {
    display:none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

h1,h2,h3,h4,h5,label {font-weight: normal;padding:0;margin:0;cursor: pointer;}
    
/* Global selector */
* {
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    outline: none;
    text-shadow: none;
    text-rendering: auto;
}
    
/* Anchor */
a {
    text-decoration:none;
    color:rgb(0, 21, 46);
    cursor:pointer;
}

#header {
    width:100%;
    position: fixed;
    top:0;
    left:0;
    z-index: 9;
    display: block;
    overflow: hidden;
    box-shadow:0px 3px 3px #F1F1F1;
}

#header--action-group {
    display: flex;
    align-content: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    position: relative;
}

#header--action-group #menu {
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: var(--themecolor);
    position: relative;
    height:50px;
}

#header--action-group #search {
    display: flex;
    align-content: center;
    justify-content: center;
    color:var(--themecolor);
    position: relative;
    height:50px;
    padding:15px 16px;
    font-size: 20px;
    cursor: pointer;
}

#header--action-group #brand {
    display: flex;
    align-items: center;
    justify-content: center;
    color:var(--themecolor);
    /* background-color: rgb(5, 53, 27); */
    position: relative;
    height:50px;
    padding-left:16px;
    padding-right:16px;
    font-size: 20px;
    text-transform:uppercase;
}

#header--tool-group {
    width:100%;
    overscroll-behavior: contain;
    -webkit-overflow-scrolling: contain;
    background-color: white;
    margin:0px auto;
    position: relative;
    overflow: hidden;
}

#header--tool-group #navbar {
    width:100%;
    overscroll-behavior: contain;
    -webkit-overflow-scrolling: contain;
    background-color: white;
    margin:0px auto;
    position: fixed;
    left:0;
    top:auto;  
    list-style-type: none;
    padding:0px 32px;
    will-change:height;
    overflow: hidden;
    height: 0;
    z-index: 9;
    display:flex;
}

#header--tool-group #navbar.is-active-navbar, #header--tool-group #search-container.is-active-search {
    height:auto;    
    border-bottom: 2px solid rgb(235, 235, 235);
}

#header--tool-group #navbar.is-inactive-navbar, #header--tool-group #search-container.is-inactive-search {
    height:0;
}

#header--tool-group #navbar li {
    margin:10px auto;
    position: relative;
    padding: 10px 12px;
    font-size: 14px;
}

#header--tool-group #search-container {
    width:100%;
    overscroll-behavior: contain;
    -webkit-overflow-scrolling: contain;
    background-color: rgb(255, 255, 255);
    margin:0px auto;
    position:fixed;
    left:0;
    top:auto;
    z-index:9;
    padding:0px;
    will-change:height;
    overflow: hidden;
    height: 0;
}

#header--tool-group #search-container input[type='search'] {
    outline: none;
    width:100%;
    padding:12px 16px;
    font-size:15px;
    border-radius: 4px;
    border:none;
    margin:10px auto;
}

#main {
    padding: 0px 0px 10px 0px;
    margin-top:80px;
}

#main h1.title {
    width: auto;
    text-align: center;
    margin:25px 25px 25px 25px;
    border-bottom:2px solid #FF4B60;
    position: relative;
    padding-bottom: 10px;
    letter-spacing: 2px;
}

#main h1.title:before {
    width: 80%;
    border-bottom:2px dashed #FF4B60;
    position: absolute;
    bottom:-8px;
    left:10%;
    content:" ";
}

#main h1.title:after {
    width: 60%;
    border-bottom:2px solid #FF4B60;
    position: absolute;
    bottom:-8px;
    left:20%;
    content:" ";
}

#main h2 {
    width: auto;
    text-align: center;
    padding:8px 32px;
    position: relative;
}

.header-group {
    display:flex;
    position: relative;
    width:100%;
    justify-content: flex-start;
    align-items: center;
}

#featured-post, #book-option, #book-trending, #book-hot, #book-offer, #author, #blog, #accordion, #footer {
    width:100%;
    margin:0px auto;
    position: relative;
}

.featured-post--container {
    max-width:1000px;
    margin:10px auto;
    padding: 12px 12px;
    position: relative;
}

.book-option--container {
    display: flex;
    max-width:1000px;
    margin:0px auto;
    padding: 10px 16px;
    position: relative;
}

.book-trending--container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width:1000px;
    margin:10px auto;
    flex-wrap: wrap;
}

#featured-post--info-group {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    margin: 10px auto 20px auto;
}

#featured-post--image {
    width:50%;
    padding: 5px 16px;
    max-height:350px;
    position:relative;
    display: flex;
}

#featured-post--image img {
    width:100%;
    border:2px solid #F1F1F1;
    padding: 2px;
    border-radius: 4px;
    background-color: white;
}

#featured-post--meta {
    width:40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5px 8px;
    font-size: 20px;
    line-height: 1.2;
    min-height:350px;
}

#featured-post--meta #title {
    line-height: 120%;
    font-size: 45px;
    color:black;
}

#featured-post--excerpts {
    font-size: 14px;
    line-height: 1.3;
    color:black;
    margin: 5px 6px; 
    position: relative;
}

#featured-post-details * {
    font-size: 14px;   
    margin: 5px 6px; 
}

#featured-post button {
    padding:12px 16px;
    outline: none;
    border:1px solid var(--themecolor);
    margin:5px 12px;
    border-radius: 50px;
}

.read-more {
    background-color: var(--themecolor);
    color:white;
}

.buy-now {
    background-color: white;
    color:var(--themecolor);
}

.book-option--container {
    display: flex;
    max-width:1000px;
    margin:0px auto;
    padding: 10px 16px;
    position: relative;
}

.book-option--item {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width:100%;
    padding:24px 16px;
}

.book-option--item i {
    font-size:35px;
    margin: 10px auto;
}

.book-option--title {
    font-size:15px;
    color:black;
}

.book-trending--container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width:1000px;
    margin:10px auto;
    flex-wrap: wrap;
}

.book-trending--item {
    flex-basis:calc(33.33333% - 40px);
    padding:0px 0px;
    margin:20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    overflow: hidden;
    position: relative;
    box-shadow:1px 1px 4px rgba(0, 0, 0, 0.7);
}

.book-trending--item:before {
    position: absolute;
    right:-60px;
    top:-20px;
    width:100px;
    height:50px;
    text-align: center;
    padding:8px 12px;
    content: "";
    transform:rotate(45deg);
    background-color: var(--themecolor);
    color:white;
}

.book-trending--item:after {
    position: absolute;
    right:-20px;
    top:-2px;
    width:50px;
    text-align: center;
    padding:8px 12px;
    content: attr(book-type);
    transform:rotate(45deg);
    text-transform: uppercase;
    color:white;
}

.book-trending--image {
    width:50%;
}

.book-trending--image img {
    width:100%;
}

.book-trending--description {
    width:50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.book-trending--genre {
    color:var(--themecolor);
    font-size: 20px;
}

.book-trending--sale {
    font-size: 15px;
}

.book-trending--sale, .book-trending--genre {
    margin-right:10px;
}

.book-trending--order, .shop-now {
    padding:12px 32px;
    outline: none;
    border:1px solid #34495e;
    margin:5px 0px 5px 12px;
    background-color: #34495e;
    color:white;
}

.book-hot--container {
    display:flex;
    flex-direction: column;
    max-width:1000px;
    position:relative;
    padding:5px 16px;
    justify-content: center;
    align-items: center;
    margin:10px auto;
}

.book-hot--slide-group {
    display:flex;
    overflow-x:auto;
    width:100%;
    position:relative;
    padding:5px 16px;
    scroll-behavior: smooth;
    scroll-snap-type:x mandatory;
}

.book-hot--slide {
    border:1px solid #f1f1f1;
    margin:20px 20px;
    padding: 32px 5px;
    min-width: calc((100% - 120px) / 3);
    position: relative;
    display: block;    
    scroll-snap-align: start;
}

.book-hot--image {
    display: flex;
    justify-content: center;
    margin: 0px auto;
}

.book-hot--image img {
    width:60%;
    margin:5px auto;
}

.book-hot--title {
    color:#34495e;
    text-align: center;
}

.book-hot--rating, .book-hot--price {
    width: 100%;
    text-align: center;
}

.book-hot--rating *:not(:nth-child(4)) {
    color:var(--themecolor);
}

.book-hot--action {
    display: flex;
    width:auto;
    position: relative;
    justify-content: space-evenly;
    margin:5px auto 10px auto;
}

.book-hot--action i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    background-color: var(--themecolor);
    color:white;
    border-radius:50px;
    padding: 10px 10px;
}

#book-hot--slide-left, #author--slide-left {
    position: absolute;
    left:0px;
    top:50%;
    transform: translateY(-50%);
    padding: 10px 12px;
    background-color: white;
    border-radius: 50px;
    border:1px solid #f1f1f1;
}

#book-hot--slide-right, #author--slide-right {
    position: absolute;
    right:0px;
    top:50%;
    transform: translateY(-50%);
    padding: 10px 12px;
    background-color: white;
    border-radius: 50px;
    border:1px solid #f1f1f1;
}

.selling-price {
    color:black;
    margin-right:5px;
    font-size: 18px;
}

.normal-price {
    color:#34495e81;
    text-decoration: line-through;
    font-size: 15px;
}

#book-offer {
    background-color: #f1f1f1;
}

.book-offer--container {
    max-width:1000px;
    padding: 32px 16px;
    margin:5px auto;
    position: relative;
}

.book-offer--year {
    color:var(--themecolor);
    font-size: 55px;
    margin: 20px auto;
    text-transform: uppercase;
}

.book-offer--trend {
    color:black;
    font-size: 35px;
    margin: 30px auto;
    text-transform: uppercase;
}

.book-offer--discount {
    color:black;
    font-size: 25px;
    margin: 30px auto;
    letter-spacing: 2px;
}

.book-offer--container button {
    margin: 10px auto;
}

.author--container {
    max-width:1000px;
    margin:0px auto;
    padding: 10px 16px;
    position: relative;
}

.author--group {
    display: flex;
    width:100%;
    margin:0px auto;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

.author--image {
    width:150px;
    height:150px;
    margin: 32px auto 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:100px;
    overflow:hidden;
    background-color: #FFFFFF;
    border:10px solid #f1f1f1;
}

.author--image img {
    width:100%;
    height:100%;
}

.author--name {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color:var(--themecolor);
    font-weight: 700;
    font-size: 20px;
}

.author--position {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 15px;
    margin: 10px auto;
    font-style: italic;
}

.author--bio {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    font-size: 15px;
}

.blog--container {
    max-width:1000px;
    margin:0px auto;
    padding: 10px 16px;
    position: relative;
}

.blog--group {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    flex-wrap: wrap;    
    position: relative;
    margin: 10px auto;
}

.blog--item {
    margin:20px 20px;
    flex-basis: calc(33.3333% - 40px);
    box-shadow: 1px 1px 5px #ccc, -1px 1px 5px #ccc, -1px -1px 5px #ccc, 1px -1px 5px #ccc;
    border-radius:4px;
}

.blog--description {
    padding:16px;
    position: relative;
    text-align: left;
}

.blog--image {
    width:100%;
    max-height:200px;
    display: flex;
    margin:0px auto 5px auto;
    align-items: flex-start;
    align-content: center;
    overflow: hidden;
    position: relative;
    justify-content: center;
}

.blog--image img {
    width: 100%;
}

.blog--date {
    color:var(--themecolor);
    font-size:15px;
}

.blog--title {
    color:black;
    font-size:15px;
    margin:0px auto 10px auto;
}

.blog--author {
    font-size:12px;
}

/* Accordion */
.accordion--container {
    max-width: 1000px;
    position: relative;
    margin: 0px auto;
    display: flex;
    overflow: hidden;
}

.accordion--item {
    flex-basis:25%;
    position: relative;
    margin: 0px 20px;
    display: flex;
    flex-direction: column;
}

.accordion--selector {
    cursor: pointer;
    width:100%;
    padding:8px 0px;
    font-size:14px;
    text-transform:uppercase;
    letter-spacing:2px;
    margin:2px;
}

.accordion--selector:after {
    content: "\f078";
    font-family:'Font Awesome 5 Free';
    line-height: 1.8;
    float: right;
    padding: 0;
    margin-left: 5px;
    font-weight: 700;
}

.accordion--selector.focus:after {
    content: "\2212";
}

.accordion--content {
    transform: translateY(100%);
    font-size: 14px;
    height: 0;
    overflow: hidden;
    color:#777;
    transition: height 0.25s cubic-bezier(0.075, 0.82, 0.165, 1),
      transform 0.85s cubic-bezier(0.075, 0.82, 0.165, 1),
      padding 0.55s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.accordion--content.focus {
    transform:translateY(0%);
    padding:5px 16px;
}

.footer--container {
    max-width:1000px;
    display: flex;
    flex-direction: column;
    color:var(--themecolor);
    position:relative;
    margin:0px auto 50px auto;
    align-items:center;
    padding:10px 16px;
}

#bottom-bar {
    position:fixed;
    left:0;
    bottom:0;
    display: flex;
    justify-content: space-around;
    width:100%;
    padding:5px;
    background-color: white;
    z-index: 9;
    box-shadow: 0px -3px 1px #F1F1F1;
}

#bottom-bar div {
    position: relative;
    margin:0px auto;
    cursor: pointer;
}

#bottom-bar div i {
    padding:8px 32px;
    font-size: 15px;
    cursor: pointer;
}

#bottom-bar ul {
    position: absolute;
    left:50%;
    bottom:-1000%;
    transition: bottom 0.85s cubic-bezier(0.075, 0.82, 0.165, 1);
    transform: translateX(-50%);
    list-style-type: none;
    flex-direction: column;
    display: flex;
    font-size:12px;
    padding: 16px 0px;
    min-width:150px;
    max-width: 60%;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: white;
    box-shadow: 1px 1px 2px #ccc, -1px 1px 2px #ccc, -1px -1px 2px #ccc, 1px -1px 2px #ccc;
    border-radius: 4px;
    z-index:9;
}

#bottom-bar ul a, #bottom-bar ul li {
    color:#34495e;
    padding:5px 16px;
    margin:0px auto;
    width:100%;
}

#bottom-bar ul.is-active-bottom-bar {
    bottom:100%;
}
 
@media screen and (max-width:680px) {

    #header #header--tool-group #navbar {
        flex-direction:column;
    }

    #main {
        margin-top:50px;
    }

    #main h1.title {
        margin:25px auto 25px auto;
    }

    #main h2 {
        width: 100%;
    }

    .header-group {
        flex-direction: column;
    }
    
    .featured-post--container {
        max-width:100%;
    }

    #featured-post--image {
        width:60%;
        max-height:250px;
    }

    #featured-post--meta {
        font-size: 12px;
        min-height:unset;
    }

    #featured-post--meta #title {
        font-size: 25px;
    }

    #featured-post--image img {
        transform: rotate(3deg);
    }

    .book-option--container {
        flex-direction:column;
        max-width:90%;
    }
   
    .book-trending--container {
        flex-direction: column;
        max-width:90%;
    }

    .book-trending--item {
        width:90%;        
        margin:20px auto;
    }

    .book-trending--image {
        width:40%;
    }

    .book-trending--description {
        width:60%;       
    }

    .book-hot--container {
        max-width: 90%;
    }

    .book-hot--slide {
        margin:20px 10px;
        min-width:calc(100% - 20px);
        scroll-snap-align: center;
    }

    .book-offer--container {
        max-width:90%;
    }
    
    .book-offer--year {
        font-size: 35px;
        margin: 10px auto;
    }

    .book-offer--trend {
        font-size: 20px;
        margin: 10px auto;
    }

    .book-offer--discount {
        font-size: 15px;
        margin: 10px auto;
    }
    
    .author--container {
        max-width:90%;
    }

    .author--group {
        flex-direction: column;
    }

    .author--image {
        width:100px;
        height:100px;
    }

    .author--name {
        font-size: 15px;
    }    
    
    .blog--container {
        display: flex;
        max-width:90%;
        flex-direction:column;
    }

    .blog--image {
        max-height:200px;
    }   
    
    .blog-author {
        font-size:15px;
    }
    
    .blog--item {
        margin:20px auto;
        flex-basis: 100%;
    }    
    
    #accordion {
        flex-direction:column;
    }   
    
    .accordion--container {
        width: 90%;
        flex-direction:column;
    }
    
    .accordion--item {
        margin: 0px auto;
        width: 100%;
    }    

    .footer--container {
        width:90%;
    } 
    
    #bottom-bar ul {
        position: fixed;
        bottom:-100%;        
    }
    
    #bottom-bar ul.is-active-bottom-bar {
        bottom:6%;
    } 
    
}